ASPNETCORE_ENVIRONMENT=Docker
ConnectionStrings__Oracle=Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-xe)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XEPDB1)));User Id=petbuddies;Password=petbuddies123;Max Pool Size=3;Min Pool Size=1
MotorApi__BaseUrl=http://petbuddies-java:8080
