GEMINI_API_KEY=
ORACLE_URL=jdbc:oracle:thin:@oracle.fiap.com.br:1521/ORCL
ORACLE_USER=
ORACLE_PASSWORD=
VET_API_URL=http://localhost:5297
EVOLUTION_API_URL=http://localhost:8081
EVOLUTION_API_KEY=
EVOLUTION_API_INSTANCE=petbuddies
